<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page_title %><%= wiki.title %></title>
  <link rel="alternate" type="application/atom+xml" title="ATOM Feed" href="/articles.xml">
  <link rel="stylesheet" href="/default.min.css">
  <link rel="stylesheet" href="/solarized_dark.css">
  <link rel="stylesheet" href="/nwiki.css">
  <script src="/highlight.min.js"></script>
</head>

<body>
  <div class="header">
    <div>
      <h1 class="brand-title"><a href="/articles/"><%= wiki.title %></a></h1>
      <h2 class="brand-tagline"><%= wiki.subtitle %></h2>
    </div>
  </div>

  <div class="content">
    <div>
      <%= html %>
    </div>
  </div>

  <div class="footer">
    <div>
    </div>
  </div>

  <script>Array.prototype.forEach.call(document.querySelectorAll("pre.src"), function(e){ hljs.highlightBlock(e) });</script>
</body>
</html>
